@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: TTCommons;
        src: url(./assets/fonts/TT_Commons_Pro_Normal.woff2) format("woff2");
    }
    @font-face {
        font-family: TTCommonsBold;
        src: url(./assets/fonts/TT_Commons_Pro_Bold.woff2) format("woff2");
    }
}